.employee-details-card {
    max-width: 400px;
    margin: 16px auto;
  }
  .employee-card {
    padding: 16px;
  }
  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .employee-info {
    flex: 1;
    margin-left: 16px;
    h2, p {
        margin-bottom: 0 !important;
    }
  }
  .details div {
    margin-bottom: 8px;
  }
  .card-footer {
    display: flex;
    justify-content: flex-end;
  }