.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .search-bar {
    width: 250px;
  }
  .add-button {
    white-space: nowrap;
  }

.action-column {
    width: 10%;
    text-align: center;
}

.green-action-icon {
    color: green;
    padding-right: 3px;
}

.red-action-icon {
    color: red;
}

.green-action-icon, .red-action-icon {
    cursor: pointer;
    font-size: 20px;
}