form {
    max-width: 600px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  mat-radio-group {
    display: flex;
    gap: 16px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  .action-button {
    flex: 1;
    max-width: 48%;
  }